nav {
  background-color: rgb(41, 41, 65);
}

.navbar__linksTitle {
  margin-left: 16px;
  margin-bottom: 8px;
  color: white;
  font-weight: 400;
}

.navbar__links {
  display: flex;
  align-items: center;
  padding-top: 10px;
  list-style: none;
  height: 60px;
}

.navbar__links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 27px;
}

.navbar__links:hover {
 background-color: whitesmoke;
 color: black;
}

.navbar__links:hover .navbar__linksTitle {
 background-color: whitesmoke;
 color: black;
font-weight: 500;
}


.navbar__linksRed {
    color: #FC6E6D;
}

.navbar__linksYellow {
    color: #FFC77D;
}

.navbar__linksGreen {
    color: #36E1BD;
}
.navbar__linksPurple {
    color: #CB96EE;
}

