.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.20;
    background-color: rgb(41, 41, 65);
    color: white;
}

.sidebar__signInOut {
    padding: 20px;
    display: flex;
    margin-top: auto;
    cursor: pointer;
}

.sidebar__signInOut span:hover {
   transform: scale(1.05);
   transform-origin: center;
   transition: ease-in-out;
}

.sidebar__header {
    padding: 20px;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid lightgrey; */
    height: 3em;
}

.sidebar__headerSearch {
    display: flex;
    margin-left: auto;
}

.sidebar__headerSearch .MuiSvgIcon-root {
    color: white;
}

.sidebar__headerInfo {
    flex: 1;
    padding-left: 10px;
    margin-bottom: 3px;
}

.sidebar__headerInfo h3 {
    font-size: 16px;
    font-weight: 400;
}

.sidebar__headerInfo p {
    color: lightgrey;
    font-size: 12px;
}